[submodule "home/.local/opt/peda"]
	path = home/.local/opt/peda
	url = https://github.com/longld/peda.git
	ignore = all
[submodule "home/.local/opt/pwndbg"]
	path = home/.local/opt/pwndbg
	url = https://github.com/pwndbg/pwndbg.git
	branch = dev
	ignore = all
[submodule "home/.local/opt/gef"]
	path = home/.local/opt/gef
	url = https://github.com/hugsy/gef.git
	ignore = all
[submodule "home/.local/opt/fzftools"]
	path = home/.local/opt/fzftools
	url = https://github.com/midchildan/fzftools.git
	ignore = all
[submodule "home/.local/opt/tmux-copycat"]
	path = home/.local/opt/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
	ignore = all
[submodule "home/.local/opt/tilix-gruvbox"]
	path = home/.local/opt/tilix-gruvbox
	url = https://github.com/MichaelThessel/tilix-gruvbox.git
	ignore = all
[submodule "home/.local/share/zsh/plugins/cf-zsh-autocomplete-plugin"]
	path = home/.local/share/zsh/plugins/cf-zsh-autocomplete-plugin
	url = https://github.com/Dannyzen/cf-zsh-autocomplete-plugin.git
[submodule "home/.local/share/zsh/plugins/zsh-completions"]
	path = home/.local/share/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = home/.local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
