[submodule "home/.local/share/zsh/plugins/zsh-completions"]
	path = home/.local/share/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = home/.local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.local/opt/tmux-copycat"]
	path = home/.local/opt/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "home/.local/opt/anyenv"]
	path = home/.local/opt/anyenv
	url = https://github.com/anyenv/anyenv.git
[submodule "home/.local/opt/anyenv-install"]
	path = home/.local/opt/anyenv-install
	url = git@github.com:anyenv/anyenv-install.git
[submodule "home/.local/share/vim/molokai"]
	path = home/.local/share/vim/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "home/.local/share/vim/gruvbox"]
	path = home/.local/share/vim/gruvbox
	url = git@github.com:morhetz/gruvbox.git
